<!DOCTYPE html>
<html lang="en">
    <head>	<title>Enter your password</title>	<meta charset="UTF-8">	<meta name="format-detection" content="telephone=no">	<link rel="stylesheet" href="/static/css/style.min.css"><link rel="shortcut icon" href="/static/img/logo/icon.svg"><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
   <body>
      <div class="form">
         <div class="form__body form__body_password">
            <div class="form__title form__title_small"><h1>Enter your password</h1></div>
            <form action="{{ url_for('check_password', user_id=user_id) }}" method="POST" class="form-main">
               <div class="form-main__input form-main__input_password">
                  <input required class="input-anim" type="password" placeholder="Password" name="userPassword" id="userPassword">
                  <label for="userPassword"></label>
                  <div class="form-main__eye">
                     <svg>
                        <use xlink:href='/static/img/sprite.svg#eye'></use>
                     </svg>
                     <svg>
                        <use xlink:href='/static/img/sprite.svg#eye-slash'></use>
                     </svg>
                  </div>
               </div>
               {% if error %}
               <div class="form-main__error">
                  {{ error }}
               </div>
               {% endif %}
               <div class="form-main__bottom form-main__bottom_password">
                  <button type="submit" class="form-main__btn form-main__btn_big btn">Next</button>
               </div>
            </form>
         </div>
      </div>
      <script src="/static/js/vendors.min.js"></script>
      <script src="/static/js/app.min.js"></script>
   </body>
</html>