<!DOCTYPE html>
<html lang="en">
    <head>	<title>Sign Up</title>	<meta charset="UTF-8">	<meta name="format-detection" content="telephone=no">	<link rel="stylesheet" href="static/css/style.min.css">	<!-- <meta name="theme-color" content="#fff"> -->	<!-- <meta name="theme-color" content="#F2709C"/>	 -->	<link rel="shortcut icon" href="static/img/logo/icon.svg">	<!-- <meta name="robots" content="noindex, nofollow"> -->	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->	<meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
   <body>
      <div class="form">
         <div class="form__body">
            <div class="form__title"><h1>FaceAuth</h1></div>
            <form action="/users" class="form-main" method="post">
               <div class="form-main__input">
                  <input required class="input-anim" type="text" autocomplete="given-name" placeholder="First Name" name="userFirstName" id="userFirstName">
                  <label for="userFirstName"></label>
               </div>
               <div class="form-main__input">
                  <input required class="input-anim" type="text" autocomplete="family-name" placeholder="Last Name" name="userLastName" id="userLastName">
                  <label for="userLastName"></label>
               </div>
               <div class="form-main__input form-main__input_password">
                  <input required class="input-anim" type="password" placeholder="Password" name="userPassword" id="userPassword">
                  <label for="userPassword"></label>
                  <div class="form-main__eye">
                     <svg>
                        <use xlink:href='static/img/sprite.svg#eye'></use>
                     </svg>
                     <svg>
                        <use xlink:href='static/img/sprite.svg#eye-slash'></use>
                     </svg>
                  </div>
               </div>
               <div class="form-main__select">
                  <div class="select" data-name="type" data-state tabindex="0">
                     <div class="select__title" data-default="Who are you?"><span>Who are you?</span></div>
                     <div class="select__content">
                        <div class="select__body">
                           <input type="radio" class="select__input" id="student" value="Student" name="type">
                           <label class="select__label" for="student"><span>I'm a Student</span></label>
                           <span class="select__line"></span>
                           <input type="radio" class="select__input" id="teacher" value="Teacher" name="type">
                           <label class="select__label" for="teacher"><span>I'm a Teacher</span></label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-main__select">
                  <div class="select" data-name="honorific" data-state tabindex="0">
                     <div class="select__title" data-default="Select your title"><span>Select your title</span></div>
                     <div class="select__content">
                        <div class="select__body">
                           <input type="radio" class="select__input" id="mr" value="Mr" name="honorific">
                           <label class="select__label" for="mr"><span>Mr.</span></label>
                           <span class="select__line"></span>
                           <input type="radio" class="select__input" id="ms" value="Ms" name="honorific">
                           <label class="select__label" for="ms"><span>Ms.</span></label>
                           <span class="select__line"></span>
                           <input type="radio" class="select__input" id="notSpecify" value="-" name="honorific">
                           <label class="select__label" for="notSpecify"><span>Prefer to not specify</span></label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-main__bottom">
                  <button type="submit" class="form-main__btn btn">Sign up</button>
               </div>
            </form>
         </div>
      </div>
      <script src="static/js/vendors.min.js"></script>
      <script src="static/js/app.min.js"></script>
   </body>
</html>