<!DOCTYPE html>
<html lang="en">
    <head>	<title>All Users</title>	<meta charset="UTF-8">	<meta name="format-detection" content="telephone=no">	<link rel="stylesheet" href="static/css/style.min.css"><link rel="shortcut icon" href="static/img/logo/icon.svg"><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
   <body>
      <div class="users">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
               {% if messages[0][0] == 'name' %}
                  <div class="users__popup">
                        <div class="users__added">
                              <div class="users__check">
                                 <span></span>
                                 <picture><source srcset="static/img/icons/check.svg" type="image/webp"><img src="static/img/icons/check.svg" alt=""></picture>
                              </div>
                              <div class="users__text">
                                 User <b>{{ messages[0][1] }}</b> has been successfully added with the id <b>{{ messages[1][1] }}</b>!
                              </div>
                        </div>
                  </div>
               {% elif messages[0][0] == 'trained' %}
                  <div class="users__popup">
                     <div class="users__added">
                           <div class="users__check">
                              <span></span>
                              <picture><source srcset="static/img/icons/check.svg" type="image/webp"><img src="static/img/icons/check.svg" alt=""></picture>
                           </div>
                           <div class="users__text">
                              Model has been trained! You can now login via your face.
                           </div>
                     </div>
               </div>
               {% endif %}
            {% endif %}
        {% endwith %}
         <div class="users__body">
            <div class="users__top">
               <a href="/signup" class="users__btn">Sign up</a>
               <div class="users__title"><h1>All Users</h1></div>
               <a href="/signup" class="users__btn">Sign up</a>
            </div>
            <ul class="users__tabs">
               <li class="users__tab _active">Student</li>
               <li class="users__tab _active">Teacher</li>
            </ul>
            <ul class="users__list">
               {% for user in users %}
                  <li class="users__item {{ user.type }}">
                     <form action="{{ url_for('login', user_id=user.userId) }}" method="POST" class="users__content">
                        <div class="users__main">
                           {% if user.honorific %}
                              <div class="users__honorific">
                                    {{ user.honorific }}
                              </div>
                           {% endif %}
                           <div class="users__name">
                              {{ user.firstname }} {{ user.lastname }}
                           </div>
                        </div>                     
                        <div class="users__info">
                           <div class="users__type">
                              {{ user.type }}
                           </div>
                           <button type="submit" class="users__login">
                              {{ 'Login' if user.recorded else 'Record' }}
                           </button>
                        </div>
                     </form>
                  </li>
               {% endfor %}
            </ul>
            <div class="users__empty {% if not users %}_show{% endif %}">
               <p>No users found</p>
            </div>
         </div>
      </div>
      <script src="static/js/vendors.min.js"></script>
      <script src="static/js/app.min.js"></script>
   </body>
</html>